.calc {
    padding: 2rem 2rem 1.5rem 2rem;
}


.convert-options {
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}


.button-option {
    padding: 0.5rem;
    border: none;
    margin: 0.5px;
    border-radius: 5px;
    color: #3ba392;
    font-family: 'Roboto', cursive;
    font-size: 15px;
    cursor: pointer;
    background-color: #C7C5C9;
    outline: none;
}

.button-convert {
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', cursive;
    font-size: 15px;
    cursor: pointer;
    padding: 1rem 0.5rem;
    width: 8rem;
    background-color: #6bd3d1;
    color: white;
    outline: none;
    margin-top: 1rem;
}

.button-option:hover {
    opacity: 50%;
}

.button-convert:hover {
    opacity: 50%;
}

.convert-form {
    margin-top: 1rem;
    display: block;
    align-items: center;
}

input {
    background-color: white;
    width: 12rem;
    height: 1.8rem;
    margin: 5px;
    color: rgb(105, 99, 99);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: right;
    padding: 0.32rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.display {
    color: rgb(105, 99, 99);
    background-color: white;
    border-radius: 5px;

    text-align: center;
    margin-top: 1rem;
    height: 5rem;
    width: 14rem;

    margin-bottom: 1rem;

}

#link {
    color: white;
    text-decoration: none;
}