.calc {
    padding: 2rem 1rem 3rem 1rem;
}


.convert-options {
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}


.button-option {
    padding: 0.5rem;
    border: none;
    margin: 0.5px;
    border-radius: 5px;
    color: #3ba392;
    font-family: 'Roboto', cursive;
    font-size: 15px;
    cursor: pointer;
    background-color: #C7C5C9;
    outline: none;
}

.button-convert {
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', cursive;
    font-size: 15px;
    cursor: pointer;
    padding: 1rem 0.5rem;
    background-color: #6bd3d1;
    color: white;
    outline: none;
}

.button-option:hover {
    opacity: 50;
}

.button-convert:hover {
    opacity: 50;
}

.convert-form {
    display: flex;
    align-items: flex-end;
}

input {
    background-color: white;
    width: 9rem;
    height: 1.8rem;
    margin: 5px;
    color: rgb(105, 99, 99);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: right;
    padding: 0.32rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.learning {
    margin-top: 4rem;
}

.learning a {
    color: whitesmoke;
    text-decoration: none;
}


.formula {
    padding: 1rem;
    background: turquoise;
    border-radius: 10px;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;

    display: none;
    justify-content: center;
    align-items: center;
}


.modal {
    background: rgb(100, 119, 119);
    color: whitesmoke;
    width: 60%;
    min-width: 300px;
    padding: 4rem;
    border-radius: 20px;


    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 10px;

}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.show .modal{
    animation: modal 0.3s;
}

.close {
    top: 0px;
    right: 0px;
    position: absolute;

    width: 3rem;
    height: 3rem;
    border: 4px solid rgb(100, 119, 119);
    background: rgb(100, 119, 119);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    cursor: pointer;
}

.modal-container.show {
    display: flex;
}

@media (max-width: 860px) {
    .calc {
        padding: 2rem 1rem 4rem 1rem;
    }

    .button-option {
        padding: 0.5rem;
        margin: 0.5px;
        font-size: 12px;
    }

    input {
        background-color: white;
        width: 5rem;
        height: 1.5rem;
        margin: 5px;
        padding: 0.32rem;
    }

    .button-convert {
        font-size: 12px;
        padding: 1rem 0.45rem;
    }

    .modal {
        width: 30%;
        min-width: 250px;
        padding: 2.8rem;
        border-radius: 20px;
    
    
        position: relative;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        grid-gap: 10px;
    
    }

}


@media (max-width: 760px) {

    .button-option {
        padding: 0.2rem;
        height: 1.7rem;
        margin: 0.5px;
        font-size: 10px;
    }
}


